
<mat-card class="profile-card">
    <mat-card-header>
       
        <div class="label bottom">
           
        </div>
        <div class="everything" (click)="inputImageProfile.click()">
            
        <img [src]="currentImage"  />
        <mat-icon class="fotochange">camera_alt</mat-icon>
        </div>
    </mat-card-header>
    <mat-card-content>
        <span class="guarda">{{guarda}}</span>
        <form [formGroup]="profileForm" (ngSubmit)="onSaveUser(profileForm.value)">
            
            <input hidden type="file" #inputImageProfile formControlName="photoUrl" (change)="handleImage(($event?.target?.files)[0])">
            <p>
                <mat-form-field class="rojo">
                    <input type="text" matInput formControlName="displayName" required />
                    <mat-placeholder class="placeholder">Nombre</mat-placeholder>

                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput formControlName="email" required />
                    <mat-placeholder class="placeholder">email</mat-placeholder>
                </mat-form-field>
            </p>
            
            <button type="submit" mat-raised-button class="mat-flat-button">Guardar</button>
        </form>

    </mat-card-content>
</mat-card>
