.mat-toolbar{
    background-color: green ;

}

a{
    color: #ffffff;
    text-decoration: none ;
    margin: 2%;
    
}

.mat-button{
 text-transform: uppercase; 
 text-shadow: 2px 1px 2px 0px black;
}

