.logocontainer{
    margin-top: 1%;
    display: grid;
    margin-bottom: 1%;
    grid-template-columns: 44%;
    grid-column-gap: 1.5%;
    grid-row-gap: 15px ;
    justify-content: center;
    .logo-card{
        background-color: white;
        padding: 8%;
        border: none;
        box-shadow: none;
    }
}
.containergrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 335px));
    grid-column-gap: 1.5%;
    grid-row-gap: 24px; 
    justify-content: center;

.container{
    margin-top: -3%;
  
    justify-content: center;
    
    .link{
        text-decoration: none;
        color: black;
    }
    .link2{
       
        color: blue;
        &:focus{
            color: red;
        }
    }
    
    .post-card{
        background-color: white;
        color: black;
        border-radius: 5.5%;
        border: 0.3rem solid #7ab97a;
        text-decoration: none;
        padding: 8%;
        font-size: 150%;
        box-shadow: 1px 3px 6px 0px;
     
        .mat-card-header{
            margin-bottom: 12px;
            justify-content: center;
            text-transform: uppercase;
         
                background: repeating-linear-gradient(23deg, #14a675, #ffffff 100px);
                color: white;
                text-shadow: 1px 2px 4px black;
                border-radius: 9%;
                display: flex;
                flex-direction: row;
            
        }
        
        img{
            height: 200px;
            

        }
        p.content{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
    }
}
}

.container-spinner{
    display: flex;
    justify-content: center;
    height: 100%;
        
}
::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke:#0f7403;
}


@media only screen and (max-width: 395px){
    .containergrid{
        margin: 0px 21px;
    }
}