
.new-post-container{
    display:flex;
    flex-direction: column;
    
    form{
       margin-bottom: 20px;

      
    
        Input[type='file']{
            display: none;
        }
       input.mat-flat-button{
           width: 100%;
           background-color: green;
           &:hover{
               background-color: seagreen;
           }
       } 
       
.custom-file{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 0;
    cursor: pointer;
    width: 100%;
}
.container-input-file{
margin-bottom: 1rem;
}
.container-button{
min-height: 80px;
}
 mat-form-field{
     width:100%;
 }
    }
}
::ng-deep.placeholder{
    color: black;
    font-weight: 100;
    
}
::ng-deep mat-label{
    color: black !important;
    font-weight: 100;
    
}
::ng-deep.mat-select-value {
    color: #007cdc;
}
::ng-deep.mat-select-panel .mat-option {
    font-size: inherit;
    line-height: 3em;
    background-color: white;
}
::ng-deep.mat-option {
    color: #000;
}
::ng-deep.mat-option.mat-active {
    background: white;
    color: #000;
}
::ng-deep.mat-primary .mat-pseudo-checkbox-checked   {
    background: #00c500;
}
::ng-deep.mat-pseudo-checkbox {
    color: rgba(0, 0, 0, 0.75);
}
::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #29c008;
}

::ng-deep.span{
    margin-left: 10px;
}